@media (max-width: 970px){
    .form-wraper {
        margin: 0 auto;
    }
}
@media (max-width: 830px){
    .nav{
        display: none;
    }
    .sidebar{
        display: block;
    }
    .header-wraper{
        justify-content: space-between;
    }
}
@media (max-width: 550px){
    .footer-wraper{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .footer-div{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .footer-div1{
        width: 120px;
        margin-bottom: 25px;
    }
    .footer-img{
        margin-top: 20px;
    }
}